* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
   
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    margin-top: -10px;
    border-bottom: 1px solid seashell;
    z-index: 1;
}

.logo {
    max-height: 50px;
    margin: 10px;
    opacity: 0.9;
}

.navbar {
    display: flex;
    list-style: none;
    background-color: black;
    opacity: 0.9;

}

.navbar li {
    margin-right: 30px;
    opacity: 0.9;
}

.navbar a:hover {
    color: cyan;
    opacity: 0.9;
}

#mission{
    position: relative;
    background-image: url(./assets/images/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
}

#mission-h2{
    position: relative;
    top: 10px;
    font-size: xx-large;
    background-color: black;
    width: 1200px;
    margin-top: 0px;
}

#mission-p{
    position: relative;
    top: 20px;
    margin-top: -20px;
}

#tea-type{
    position: relative;
    top: 100px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
